* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
    background-color: rgba(46, 46, 46, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 5em;
    color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
